* {
  pointer-events: none;
  user-select: none;
  box-sizing: border-box;
}

html, body, #container {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

html {
  font-size: 8px;
}

body {
  background: url(../img/background.png);
  color: #FFFFFF;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border-radius: 0.5rem;
}

#github {
  pointer-events: auto;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  width: 3rem;
  height: 3rem;
}

#avatar {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: 6rem;
  height: 6rem;
  background-size: 6rem 6rem;
  border-radius: 10% 10% 10% 50%;
  border: 0.125rem solid rgba(255, 255, 255, 0.8);
}

@media (min-width: 435px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 614px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 883px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1352px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1821px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2290px) {
  html {
    font-size: 20px;
  }
}
